.meganews {
  font-size: 58px;
  color: red;
}

.smallnews h5 {
  color: brown;
}

.small news p {
  color: yellow;
  background-color: black;
}

h2 {
  font-size: 36px;
  text-align: right;
}